* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #464360;
}

/* Navigation Bar */

.navbar {
  height: 70%;
  width: 100%;
  max-width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  margin-top: 180px;
  display: block;
}
@media (max-width: 480px) {
  .navbar {
    height: 0;
    width: 100px;
    position: none;
    z-index: none;
    margin-top: 135px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .navbar {
    height: 50%;
    width: 300px;
    margin-top: 120px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .navbar {
    height: 60%;
    margin-top: 150px;
  }
}

.navbar h1 {
  position: absolute;
  margin-top: -45px;
  padding-left: 30px;
}
@media (max-width: 480px) {
  .navbar h1 {
    margin-top: -90px;
    padding-left: 10px;
    font-size: 22px;
  }
}

.navbar ul {
  margin: 0 auto;
  padding: 120px;
  list-style-type: none;
  padding-left: 40px;
}
@media (max-width: 480px) {
  .navbar ul {
    display: inline-block;
    margin: 90px;
    padding: 10px;
    padding-left: 5%;
    margin-top: -80px;
    margin-right: 0px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .navbar ul {
    margin-top: -50px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .navbar ul {
    margin-top: -20px;
  }
}

.navbar h4 {
  position: absolute;
  padding-top: 75px;
}
@media (max-width: 480px) {
  .navbar h4 {
    padding-top: 229px;
    font-size: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .navbar h4 {
    padding-top: 30px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .navbar h4 {
    padding-top: 60px;
  }
}

.navbar-item {
  color: white;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-top: 29px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}
@media (max-width: 480px) {
  .navbar-item {
    margin-top: 4%;
    font-size: 18px;
  }
}

.navbar-item:hover {
  color: skyblue;
}

@media (max-width: 480px) {
  .res-item {
    display: none;
  }
}

.vl {
  border-left: 6px solid #464360;
  height: 680px;
  position: absolute;
  margin-left: 300px;
  margin-top: -85px;
}
@media (max-width: 480px) {
  .vl {
    position: none;
    border-left: none;
    border-bottom: 15px solid #464360;
    display: block;
    margin-left: 0%;
    margin-top: 0%;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .vl {
    height: 550px;
    margin-top: -80px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .vl {
    height: 658px;
    margin-top: -150px;
  }
}

/* Home */

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 95px auto;
  overflow: auto;
  min-height: 600px;
  border: 1px solid #383756;
  padding: 30px;
  border-radius: 30px;
  background-color: #383756;
  color: white;
}
@media (max-width: 480px) {
  .main-container {
    width: 300px;
    min-height: 450px;
    margin: 20px auto;
    padding: 20px;
    overflow: hidden;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .main-container {
    width: 950px;
    min-height: 500px;
    margin: 45px auto;
    padding: 20px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .main-container {
    width: 1200px;
    min-height: 600px;
    margin: 50px auto;
    padding: 25px;
  }
}

.inner-container {
  width: 100%;
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  padding-left: 280px;
}
@media (max-width: 480px) {
  .inner-container {
    width: 200px;
    height: 80px;
    margin-top: 170px;
    padding-left: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .inner-container {
    margin-top: 80px;
  }
}

.image-container {
  height: 150px;
  width: 150px;
  position: relative;
}
@media (max-width: 480px) {
  .image-container {
    height: 100px;
    width: 100px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .image-container {
    position: absolute;
    margin-right: 490px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .image-container {
    position: absolute;
    margin-right: 210px;
  }
}

.image-container img {
  width: 100%;
  height: 100%;
}

.transition-image {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s;
}
@media (max-width: 480px) {
  .transition-image {
    position: none;
    transition: none;
    visibility: hidden;
  }
}

.transition-image:hover {
  opacity: 1;
}

.description {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 54%;
}

.description h2 {
  font-size: 30px;
  font-family: 'Segoe Print';
}
@media (max-width: 480px) {
  .description {
    margin-left: 80px;
  }
}
@media (max-width: 480px) {
  .description h2 {
    margin-left: 25px;
    font-size: 20px;
    position: absolute;
  }
}

.description h4 {
  font-size: 20px;
  margin-left: 22px;
  font-family: 'SimSun-ExtB';
}
@media (max-width: 480px) {
  .description h4 {
    font-size: 15px;
    margin-top: 10%;
    position: absolute;
    margin-right: 5%;
  }
}

.social-media {
  width: 100%;
  max-width: 200px;
  height: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 54%;
  margin-top: 1.5%;
  position: relative;
}
@media (max-width: 480px) {
  .social-media {
    position: absolute;
    width: 100px;
    height: 10px;
    margin-top: 22%;
    margin-left: 5%;
  }
}

.social-media img {
  width: 20%;
  padding-left: 8%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (max-width: 480px) {
  .social-media img {
    width: 25%;
  }
}

.social-media img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* About */

.about-container {
  width: 100%;
  max-width: 500px;
  height: 200px;
  margin: 0 auto;
  margin-left: 500px;
  margin-top: 80px;
  font-size: 19px;
  font-family: 'Yu Gothic';
  text-align: center;
}
@media (max-width: 480px) {
  .about-container {
    width: 250px;
    height: 50px;
    font-size: 15px;
    margin-left: 25px;
    margin-top: 150px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .about-container {
    width: 400px;
    height: 200px;
    font-size: 17px;
    margin-left: 450px;
    margin-top: 45px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .about-container {
    margin-left: 470px;
    margin-top: 40px;
  }
}

.about-container img {
  width: 350px;
}
@media (max-width: 480px) {
  .about-container img {
    width: 140px;
    float: right;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .about-container img {
    width: 300px;
  }
}

/* Projects */

.projects-container {
  width: 100%;
  max-width: 600px;
  height: 500px;
  margin: 0 auto;
  margin-left: 450px;
  margin-top: 15px;
  font-size: 18px;
  padding-left: 85px;
}
@media (max-width: 480px) {
  .projects-container {
    width: 300px;
    height: 330px;
    font-size: 14px;
    margin-left: -80px;
    margin-top: 125px;
    overflow: auto;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .projects-container {
    width: 670px;
    height: 400px;
    font-size: 12px;
    margin-left: 275px;
    margin-top: 5px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .projects-container {
    width: 750px;
    height: 500px;
    margin-left: 360px;
    margin-top: 20px;
    font-size: 18px;
  }
}

.projects-container h4 {
  color: #5c8dcf;
  padding-left: 190px;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .projects-container h4 {
    padding-left: 0px;
    margin-top: 5px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .projects-container h4 {
    margin-left: 0px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .projects-container h4 {
    margin-left: 60px;
    margin-bottom: 15px;
  }
}

.projects-title {
  display: flex;
  font-size: 40px;
  font-family: 'Ink Free';
  margin-bottom: 30px;
  margin-left: 120px;
}
@media (max-width: 480px) {
  .projects-title {
    font-size: 25px;
    margin-bottom: 12px;
    margin-left: 0px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .projects-title {
    font-size: 18px;
    margin-left: 145px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .projects-title {
    font-size: 35px;
    margin-left: 25px;
  }
}

.title {
  padding-left: 49px;
  padding-right: 60px;
  padding-top: -50px;
}
@media (max-width: 480px) {
  .title {
    padding-left: 0px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .title {
    padding-left: 30px;
    padding-right: 35px;
  }
}

.projects-subtitle {
  margin-bottom: 32px;
  padding-left: 136px;
}
@media (max-width: 480px) {
  .projects-subtitle {
    margin-bottom: 0px;
    padding-left: 0%;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .projects-subtitle {
    padding-left: 115px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .projects-subtitle {
    padding-left: 165px;
  }
}

.mw-space {
  margin-bottom: 38px;
}
@media (max-width: 480px) {
  .mw-space {
    margin-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .projects-body {
    margin-bottom: 0px;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .projects-body {
    margin-right: 70px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .projects-body {
    margin-left: 15px;
  }
}

.project-btn {
  background-color: #82c9c5; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  font-family: 'MV Boli';
  margin-left: 200px;
  margin-top: 16px;
}
@media (max-width: 480px) {
  .project-btn {
    padding: 5px 15px;
    font-size: 10px;
    margin-left: 40%;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .project-btn {
    font-size: 14px;
    margin-left: 165px;
    padding: 5px 15px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .project-btn {
    margin-left: 220px;
  }
}

.project-btn:hover {
  background-color: #ace8e8;
}

.projects-container a {
  display: block;
  text-decoration: none;
  color: #c17787;
}

.projects-container a:hover {
  color: #ecc2c8;
}

.code-style {
  margin-left: 222px;
  margin-top: 10px;
}
@media (max-width: 480px) {
  .code-style {
    float: right;
    margin-right: 145px;
  }
}

@media (min-width: 1400px) and (max-width: 1919px) {
  .code-style {
    padding-left: 75px;
  }
}

.future-projects {
  width: 100%;
  max-width: 300px;
  margin-top: 25px;
  padding: 2% 2% 2% 2%;
  margin-left: 115px;
}
@media (max-width: 480px) {
  .future-projects {
    width: 200px;
    padding: 0%;
    margin-top: 30px;
    margin-left: 70px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .future-projects {
    margin-left: 115px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .future-projects {
    margin-left: 160px;
  }
}

.coming-soon {
  padding-left: 30px;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .coming-soon {
    margin-bottom: 0px;
  }
}

/* Contact */

.contact-container {
  width: 100%;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 500px;
}
@media (max-width: 480px) {
  .contact-container {
    width: 200px;
    height: 150px;
    margin-left: 15px;
    margin-top: 110px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .contact-container {
    width: 500px;
    height: 350px;
    margin-left: 360px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .contact-container {
    width: 650px;
    height: 480px;
    margin-left: 420px;
  }
}

.form-control {
  width: 100%;
  max-width: 500px;
  height: 400px;
}
@media (max-width: 480px) {
  .form-control {
    width: 100px;
    height: 50px;
    font-size: 15px;
  }
}

.form-control input {
  width: 500px;
  font-size: 18px;
  font-family: 'Tahoma';
  padding: 1% 1% 1% 1%;
  border: none;
  border-radius: 5px;
  outline: none;
}
@media (max-width: 480px) {
  .form-control input {
    width: 180px;
    font-size: 12px;
  }
}

.message-input {
  height: 130px;
  width: 510px;
  font-size: 18px;
  font-family: 'Tahoma';
  border: none;
  border-radius: 5px;
  outline: none;
  resize: none;
}
@media (max-width: 480px) {
  .message-input {
    width: 185px;
    height: 60px;
    font-size: 15px;
  }
}

.submit-btn {
  display: inline-block;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-top: 5%;
  width: 100%;
  font-size: 20px;
  font-family: 'Tahoma';
  padding: 5px 5px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
}

.submit-btn:hover {
  background-color: #8cb5cf;
}

.extra {
  margin-bottom: 7px;
  margin-top: 15px;
  font-size: 20px;
}
@media (max-width: 480px) {
  .extra {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
  }
}
