* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #464360;
}

/* Home */

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 95px auto;
  overflow: auto;
  min-height: 600px;
  border: 1px solid #383756;
  padding: 30px;
  border-radius: 30px;
  background-color: #383756;
  color: white;
}
@media (max-width: 480px) {
  .main-container {
    max-width: 450px;
    min-height: 400px;
    margin: 25px auto;
    border: 5px;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .main-container {
    width: 950px;
    min-height: 500px;
    margin: 45px auto;
    padding: 20px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .main-container {
    width: 1000px;
    min-height: 550px;
    margin: 50px auto;
    padding: 20px;
  }
}

.inner-container {
  width: 100%;
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  padding-left: 280px;
}
@media (max-width: 480px) {
  .inner-container {
    max-width: 300px;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .inner-container {
    margin-top: 80px;
  }
}

.image-container {
  height: 150px;
  width: 150px;
  position: relative;
}
@media (max-width: 768px) {
  .image-container {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .image-container {
    position: absolute;
    margin-right: 30px;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .image-container {
    position: absolute;
    margin-right: 25px;
  }
}

.image-container img {
  width: 100%;
  height: 100%;
}

.transition-image {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s;
}
@media (max-width: 768px) {
  .transition-image {
    display: none;
  }
}

.transition-image:hover {
  opacity: 1;
}

.description {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 54%;
}
@media (max-width: 480px) {
  .description {
    margin-left: 40%;
  }
}

.description h2 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

@media (max-width: 480px) {
  .description h2 {
    font-size: 40px;
    position: absolute;
    top: 8%;
    left: 37%;
  }
}

.description h4 {
  font-size: 20px;
  margin-left: 22px;
  font-family: 'SimSun-ExtB';
}
@media (max-width: 480px) {
  .description h4 {
    font-size: 25px;
    position: absolute;
    top: 15%;
    left: 32.5%;
  }
}

.social-media {
  width: 100%;
  max-width: 200px;
  height: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 54%;
  margin-top: 1.5%;
  position: relative;
}
@media (max-width: 480px) {
  .social-media {
    position: absolute;
    width: 120px;
    height: 10px;
    margin-left: 0px;
    margin-top: 0px;
    top: 19%;
    left: 35.5%;
  }
}

.social-media img {
  width: 20%;
  padding-left: 8%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (max-width: 480px) {
  .social-media img {
    width: 25%;
  }
}

.social-media img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
